:root{font-family: 'Times New Roman', Times, serif;}

body{font-family: 'Times New Roman', Times, serif;
color: rgb(34, 0, 255);}
header, section {width: 960px;
                 margin: 0 auto;
                }

header{
    display: flex;
}



section {
    display: flex;
}
article {width: 60%;} 
                 
img{
    width: 200px;
    height: 200px;
    margin right: 16px;
}
