.divclass h1{
    color: red;
}
#thirdDiv{
    height: 600px;
    width: 500px;
    background-color: blue;
    padding: 50px;
    border: 5px red; 
} 


#thirdDiv img {
    width: 400px;
    
}
.divclass #spanId {
    font-size: 18px;
    margin: 50px;
}
